@charset "utf-8";
body{
	font-family: "Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif;
}
a{
	text-decoration: none;
}
header{
	height: 60px;
	background-color: #000;
}
.logo{
	margin:0 20px;
	width: 140px;
	float: left;
}
.logo a{
	display: block;
	background: url(../images/logo.png) center center no-repeat;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	height: 60px;
	line-height: 60px;
}
.hd-nav{
	width: 240px;
	float: left;
}
.hd-nav li{
	width:60px;
	float: left; 
}
.hd-nav li a{
	color:#787d82;
	font-size: 14px;
	display: block;
	line-height: 60px;
	text-align: center;
}
.hd-nav li a:hover{
	background-color: #363c41;
	color:#fff;
}