@charset "utf-8";
body{
	font-family: "Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft Yahei","微软雅黑",Tahoma,Arial,STHeiti,sans-serif;
}
a{
	text-decoration: none;
}
header{
	height: 60px;
	background-color: #000;
}
.logo{
	margin:0 20px;
	width: 140px;
	float: left;
}
.logo a{
	display: block;
	background: url(../images/logo.png) center center no-repeat;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	height: 60px;
	line-height: 60px;
}
.hd-nav{
	width: 240px;
	float: left;
}
.hd-nav li{
	width:60px;
	float: left; 
}
.hd-nav li a{
	color:#787d82;
	font-size: 14px;
	display: block;
	line-height: 60px;
	text-align: center;
}
header li a:hover{
	background-color: #363c41;
	color:#fff;
}

.login-area{
	float: right;
}
.login-area ul li{
	float: left;

}
.login-area ul li a{
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.my_message a{
	background: url(../images/icon_msg.png) no-repeat center center;
}
.user_card a{
}
.user_card img{
	/*display: block;*/
	display: inline-block;
	border-radius: 22px;
	width: 28px;
	height: 28px;
	/*line-height: 60px;*/
	vertical-align: middle;
}