@charset  "utf-8";
*{
	margin: 0px;
	padding: 0px;
}
.btn-again{
	text-decoration: none;
	display: inline-block;
	width: 72px;
	height: 21px;
	background: url("../images/btn.gif") no-repeat ;
}
a.btn-again:active{
	background-position: top left;
}
a.btn-again:hover{
	background-position: 0px -21px;
}

